*{
    text-align: center;
}

.nav-link{
    color: brown;
}

.jumbotron {
    font-size: 10vw;
    text-align: center;
    font-family: monospace;
    background-color: beige;
}

.fw-light {
    color: black;
    margin: 100px;
    font-size: 55px;
}

.bio_text{
    font-family: 8vw;
}
.profile_pic{
    width: 25%;
    height: auto;
    float: left;
    margin: 20px;
    border-radius: 30px;
}

.personal_info{
   margin: 10px;
}

.bio{
    display:inline-block;
    vertical-align:top;
}

.card{
    border: 5px;
}

.logo{
    width: 20%;
    height: auto;
}

@media only screen and (min-width: 768px) {
    .bio_text {
        font-size: 25px;
    } 
}

